@model BookModel
@{ 
    ViewData["Title"] = "Add New Book";
    @*string selectedval = "Telugu";*@
}
<div class="container">
    <h3 class="display-4">Add new Book </h3>
    @if (ViewBag.IsSuccess==true)
    {
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Congratulations!</h4>
        <p>You added new book successfully</p>
       Click <a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.BookId">here</a>to view the details
    </div>
    }
<form method="post" asp-action="AddnewBook" asp-controller="Book">
    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
    <div class="form-group">
        <label asp-for="MultiLanguage" class="control-label"></label>
        <select asp-for="MultiLanguage" class="form-control" asp-items="ViewBag.Language">
            </select>
        <span asp-validation-for="MultiLanguage" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Author" class="control-label"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TotalPages" class="control-label"></label>
        <input asp-for="TotalPages" class="form-control" />
        <span asp-validation-for="TotalPages" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Book" class="btn btn-primary" />
    </div>

</form>
</div>

